.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.9;
  }
}
